
<div class="container mt-3">
    <button class="btn" *ngFor="let device of devices">
        <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">deviceid : {{device.deviceid}}</h5>
            <p class="card-text">LoadScale : {{device.loadscale}}</p>
            <p class="card-text"><code>{{device | json}}</code></p>
            <p class="card-text"><small class="text-muted">Last updated {{device.timestamp | timeago}}</small></p>
        </div>
    </div>
    </button>

</div>